/*** Responsive page for mobile and other devices **/
@media screen and (max-width : 600px){
   .picture-roll{
        display: none;
   }
   /** adding background image **/
   .form-box{
    width: 100%;
    background-image: url(../images/216554.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   }
  
   /** reposition the forms **/
   .input-group{
    width: 98%;
    margin-right: -0.5%;
    margin-top: 40%;
   }

   /** shifting the toggle buttons to the right **/
   .toggle-btn{
    margin-right: 10px;
   }

   /** restyling the intro text **/
   #intro{
    font-size: 1.5rem;
    padding-left: 5px;
    color: white;
   }
   #intro2{
    font-size: 1.7rem;
    margin-left: 1%;
    color: red;
   }

   /** styling submit button **/ 
   .submit {
    margin-top: 10%;
   }

   /** styling label **/
   label{
    color: white;
    margin-left: 0%;
   }
}